.search-box {
    display: flex;
    align-items: center;
    background: #2727270f;
    height: 35px;
    border-radius: 40px;
    padding: 10px;
    margin-top: 2px;
  }
  
  *{
    box-sizing: border-box;
  }

  .search-box:hover > .search-text {
    width: 240px;
    padding: 0 6px;
  }
  
  
  .search-btn {
    color: gray;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
  }
  
  .search-btn > i {
    font-size: 16px;
  }
  
  .search-text {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    color: rgb(48, 48, 48);
    font-size: 14px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 150px;
  }

  /* navlink.css */
.underline-gray {
  position: relative;
  text-decoration: none;
}

.underline-gray::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* Controls the distance of the underline from the text */
  width: 80%;
  height: 2px; /* Sets the underline thickness */
  background-color: gray; /* Sets the underline color to gray */
  opacity: 0; /* Hides the underline initially */
  transition: opacity 0.2s ease; /* Adds a smooth transition effect */
}

.underline-gray:hover::after {
  opacity: 1; /* Shows the underline on hover */
}

.underline-gray.active {
  /* padding: 30px 0 8px; */
  position: relative;
}


.underline-gray.active::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -4px;
  width: 80%;
  height: 2px;
  /* transform: skew(-12deg) translateX(-50%); */
  background: gray;
  z-index: -1;
}


:where(.css-dev-only-do-not-override-17a39f8).ant-select .ant-select-selection-placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  color: rgba(0, 0, 0, 0.719);
  font-weight: 600;
  pointer-events: none;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #ffffff;
  border: none;
  border-radius: 0;

  border-bottom: 2px solid rgba(0, 0, 0, 0.500);

  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}




/* Style for the dropdown container */
.drop-down {
  position: relative;
  display: inline-block;
  border-bottom-right-radius: 5px;
  

}


/* Style for the dropdown content */
.drop-down-content {
  display: none;
  position: absolute;
  width: 200px;
  overflow: hidden;
  /* left: -50px; */
  /* background-color: white; */
  z-index: 1;
}

/* Show the dropdown content on hover */
.drop-down:hover .drop-down-content {
  display: block;
}

/* Style for the dropdown options */
.drop-down-content a {
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: rgb(76, 76, 76);
  font-weight: 500;

}

/* Change the color of dropdown options on hover */
.drop-down-content a:hover {
  font-weight: 800;
}

.dropdownoptionscontainer{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

